**Q.1 Create a dataset as follow in the table.**
| Tid | Refund | Marital Status | Taxable Income | Cheat |
|-----|--------|---------------|---------------|-------|
| 1   | Yes    | Single        | 125K          | No    |
| 2   | No     | Married       | 100K          | No    |
| 3   | No     | Single        | 70K           | No    |
| 4   | Yes    | Married       | 120K          | No    |
| 5   | No     | Divorced      | 95K           | Yes   |
| 6   | No     | Married       | 60K           | No    |
| 7   | Yes    | Divorced      | 220K          | No    |
| 8   | No     | Single        | 85K           | Yes   |
| 9   | No     | Married       | 75K           | No    |
| 10  | No     | Single        | 90K           | Yes   |

In [1]:
import pandas as pd 
dt = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced", 
                       "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K", 
                       "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"]
}

df = pd.DataFrame(dt)

df

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

**Q.2 From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.**

In [2]:
rows = df.iloc[[0, 4, 7, 8]]
print(rows)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

**Q.3 Navigate the DataFrame and do the following task for the table created in question 1:**  
**1. Select row from index 3 to 7.**  
**2. Select row from index 4 to 8, and column 2 to 4.**  
**3. Select all rows with column index 1 to 3 (include index 3 during selection).**

In [3]:
print("Retrieving rows from index 3 to 7:")
subset1 = df.iloc[3:8]
print(subset1)

print("\nExtracting rows from index 4 to 8 with columns 2 to 4:")
subset2 = df.iloc[4:9, 2:5]
print(subset2)

print("\nFetching all rows while selecting columns from index 1 to 3 (including index 3):")
subset3 = df.iloc[:, 1:4]
print(subset3)

Retrieving rows from index 3 to 7:
   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

Extracting rows from index 4 to 8 with columns 2 to 4:
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

Fetching all rows while selecting columns from index 1 to 3 (including index 3):
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

**Q.4 Read a csv file and display its first five rows.**

In [4]:
import pandas as pd
df = pd.read_csv('sample.csv')
print(df.head())

   ID       Name Department  Age  Salary  Experience Joining_Date  Gender  \
0   1  Employee1      Dept5   46   45368           7   2021-12-24  Female
1   2  Employee2      Dept4   39   40021           6   2013-06-26    Male
2   3  Employee3      Dept1   40   55171           5   2015-07-23  Female
3   4  Employee4      Dept2   41   53124           5    201-09-21  Female
4   5  Employee5      Dept1   25   54201           9    206-09-05  Female

   Bonus  Rating
0   3995     5.1
1   3881     2.2
2   3562     2.6
3   3444     1.5
4   3420     5.0

**Q.5 From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the
result.**

In [8]:
import pandas as pd

data = pd.read_csv('sample.csv')

print("Initial DataFrame:")
print(data)

data = data.drop(index=4)
print("\nDataFrame after removing row with index 4:")
print(data)

data = data.drop(data.columns[3], axis=1)
print("\nDataFrame after eliminating column at index 3:")
print(data)

Initial DataFrame:
   ID        Name Department  Age  Salary  Experience Joining_Date  Gender  \
0   1   Employee1      Dept5   46   45368           7   2021-12-24  Female
1   2   Employee2      Dept4   39   40021           6   2013-06-26    Male
2   3   Employee3      Dept1   40   55171           5   2015-07-23  Female
3   4   Employee4      Dept2   41   53124           5    201-09-21  Female
4   5   Employee5      Dept1   25   54201           9    206-09-05  Female
5   6   Employee6      Dept1   36   41825           4   2018-02-14    Male
6   7   Employee7      Dept5   47   51993           9   2015-06-18    Male
7   8   Employee8      Dept3   31   52840           4    209-04-04    Male
8   9   Employee9      Dept3   40   49861           5   2010-02-10    Male
9  10  Employee10      Dept3   29   58087           7    203-06-22    Male

   Bonus  Rating
0   3995     5.1
1   3881     2.2
2   3562     2.6
3   3444     1.5
4   3420     5.0
5   3681     1.9
6   3609     3.4
7   3747     4.3
8   3601     5.4
9   3713     1.4

DataFrame after removing row with index 4:
   ID        Name Department  Age  Salary  Experience Joining_Date  Gender  \
0   1   Employee1      Dept5   46   45368           7   2021-12-24  Female
1   2   Employee2      Dept4   39   40021           6   2013-06-26    Male
2   3   Employee3      Dept1   40   55171           5   2015-07-23  Female
3   4   Employee4      Dept2   41   53124           5    201-09-21  Female
5   6   Employee6      Dept1   36   41825           4   2018-02-14    Male
6   7   Employee7      Dept5   47   51993           9   2015-06-18    Male
7   8   Employee8      Dept3   31   52840           4    209-04-04    Male
8   9   Employee9      Dept3   40   49861           5   2010-02-10    Male
9  10  Employee10      Dept3   29   58087           7    203-06-22    Male

   Bonus  Rating
0   3995     5.1
1   3881     2.2
2   3562     2.6
3   3444     1.5
5   3681     1.9
6   3609     3.4
7   3747     4.3
8   3601     5.4
9   3713     1.4

DataFrame after eliminating column at index 3:
   ID        Name Department  Salary  Experience Joining_Date  Gender  Bonus  \
0   1   Employee1      Dept5   45368           7   2021-12-24  Female   3995
1   2   Employee2      Dept4   40021           6   2013-06-26    Male   3881
2   3   Employee3      Dept1   55171           5   2015-07-23  Female   3562
3   4   Employee4      Dept2   53124           5    201-09-21  Female   3444
5   6   Employee6      Dept1   41825           4   2018-02-14    Male   3681
6   7   Employee7      Dept5   51993           9   2015-06-18    Male   3609
7   8   Employee8      Dept3   52840           4    209-04-04    Male   3747
8   9   Employee9      Dept3   49861           5   2010-02-10    Male   3601
9  10  Employee10      Dept3   58087           7    203-06-22    Male   3713

   Rating
0     5.1
1     2.2
2     2.6
3     1.5
5     1.9
6     3.4
7     4.3
8     5.4
9     1.4


6.Create a sample dataset (`employees.csv`) containing information about employees in a company.

| Employee_ID | Name   | Department | Age | Salary | Years_of_Experience | Joining_Date | Gender | Bonus | Rating |
|------------|--------|------------|-----|--------|----------------------|--------------|--------|-------|--------|
| 101        | Alice  | HR         | 29  | 50000  | 4                    | 2020-03-15   | Female | 5000  | 4.5    |
| 102        | Bob    | IT         | 34  | 70000  | 8                    | 2017-07-19   | Male   | 7000  | 4.0    |
| 103        | Charlie| IT         | 41  | 65000  | 10                   | 2013-06-01   | Male   | 6000  | 3.8    |
| 104        | Diana  | Marketing  | 28  | 55000  | 3                    | 2021-02-10   | Female | 4500  | 4.7    |
| 105        | Edward | Sales      | 38  | 60000  | 12                   | 2010-11-25   | Male   | 5000  | 3.5    |



1. **Load the dataset into a Pandas DataFrame.**
2. **Determine the following using the dataset:**
   - a) Shape (number of rows and columns) of the DataFrame.
   - b) Summary of the DataFrame that includes the data types and non-null counts for each column.
   - c) Generate descriptive statistics.
   - d) Display the first 5 rows and last 3 rows of the dataset.
   - e) Calculate the following statistics from the dataset:
     - i) The average salary of employees.
     - ii) The total bonus paid to all employees.
     - iii) The youngest employee's age.
     - iv) The highest performance rating.
   - f) Sort the DataFrame by the **Salary** column in descending order.
   - g) Add a new column that categorizes employees based on their performance rating:
     - i) **Excellent** for ratings >= 4.5  
     - ii) **Good** for ratings >= 4.0 but < 4.5  
     - iii) **Average** for ratings < 4.0  
   - h) Identify missing values in the DataFrame.
   - i) Rename the **Employee_ID** column to **ID**.
   - j) Find all employees who:
     - i) Have more than 5 years of experience.
     - ii) Belong to the **IT** department.
   - k) Modify the dataset by adding a new column, **Tax**, which deducts **10%** of the **Salary**.
   - l) Save the modified DataFrame (with added columns) to a new CSV file.

In [9]:
import pandas as pd

data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}

df = pd.DataFrame(data)

df.to_csv('employees.csv', index=False)

df = pd.read_csv('employees.csv')

print("Shape of the DataFrame:", df.shape)

print("\nSummary of the DataFrame:")
df.info()

print("\nDescriptive Statistics:")
print(df.describe())

print("\nFirst 5 rows:")
print(df.head(5))

print("\nLast 3 rows:")
print(df.tail(3))

avg_salary = df['Salary'].mean()
total_bonus = df['Bonus'].sum()
youngest_age = df['Age'].min()
highest_rating = df['Rating'].max()

print("\nAverage Salary:", avg_salary)
print("Total Bonus Paid:", total_bonus)
print("Youngest Employee Age:", youngest_age)
print("Highest Performance Rating:", highest_rating)

sorted_by_salary = df.sort_values(by='Salary', ascending=False)
print("\nSorted by Salary (Descending):")
print(sorted_by_salary)

df['Performance'] = pd.cut(df['Rating'], bins=[0, 4.0, 4.5, 5.0], labels=['Average', 'Good', 'Excellent'])

missing_values = df.isnull().sum()
print("\nMissing Values:")
print(missing_values)

df.rename(columns={'Employee_ID': 'ID'}, inplace=True)

filtered_employees = df[(df['Years_of_Experience'] > 5) & (df['Department'] == 'IT')]

print("\nFiltered Employees (Experience > 5 years and IT department):")
print(filtered_employees)

df['Tax'] = df['Salary'] * 0.10

df.to_csv('modified_employees.csv', index=False)

print("\nModified dataset saved as 'modified_employees.csv'")

Shape of the DataFrame: (5, 10)

Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes

Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

First 5 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Average Salary: 60000.0
Total Bonus Paid: 27500
Youngest Employee Age: 28
Highest Performance Rating: 4.7

Sorted by Salary (Descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

Missing Values:
Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

Filtered Employees (Experience > 5 years and IT department):
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance
1   Male   7000     4.0     Average
2   Male   6000     3.8     Average

Modified dataset saved as 'modified_employees.csv'